@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&family=Rubik:wght@400;500&family=Ubuntu:wght@400;500;700&display=swap");
$gray: hsl(231, 11%, 63%);
$blue: hsl(243, 100%, 62%);
$Darkblue: hsl(213, 96%, 18%);
$red: #c94451;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Ubuntu", sans-serif;
}
body{
  background-color: #f2f7ff;
}
///////////// All page size and container
main {
  background-color: #f2fcff;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
}
.Container {
  min-width: 1000px;
  height: 700px;
  background-color: hsl(0, 0%, 100%);
  margin: auto;
  padding: 16px 15px 15px 15px;
  border-radius: 1rem;
  display: flex;
  box-shadow: 0 5px 10px #d6d9e6;
}
.content {
  min-width: 55%;
  margin: auto;
  height: 100%;
  position: relative;
  padding-top: 10px;
}
//////////Navigation/////
.navigation {
  width: 100%;
  position: absolute;
  bottom: 15px;
  display: flex;
  justify-content: space-between;
  
  button {
    padding: 15px 25px;
    font-weight: 700;
    font-size: 16px;
  }
  .btn1 {
    background-color: transparent;
    border: none;
    color: $gray;
  }
  .btn2 {
    background-color: #174a89;
    border: none;
    color: white;
    border-radius: 10px;
  }
}
.btnRight{
  justify-content: right !important;
}
//////////// Steps section
.Steps {
  position: absolute;
  top: 10px;
  width: 50%;
  height: 10%;
  left: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 5px;
}
.Step {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 30px 40px;
  .stepNumber {
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    background-color: hsl(206, 94%, 87%);
    color: white;
    border-radius: 100%;
    font-weight: 500;
    border: white 1px solid;
    font-weight: 700;
  }
  .active {
    background-color: $blue;
    color: $Darkblue;
    border-color: hsl(206, 94%, 87%);
  }
  .stepInfo {
    p {
      font-weight: 500;
      font-size: 16px;
      letter-spacing: 1px;
      color: white;
    }
  }
}
//////////// Brief
h2 {
  font-size: 32px;
  margin: 10px 0;
  color: $Darkblue;
}
.info {
  .form {
    margin-top: 30px;
    .fields {
      margin-top: 25px;
      input,select {
        width: 100%;
        font-size: 16px;
        padding: 15px;
        border-radius: 8px;
        border: hsl(229, 24%, 87%) 1px solid;
        margin-top: 10px;
        outline: none;
        color: $Darkblue;
        font-weight: 500;
        &:focus {
          border-color: $blue;
        }
        &::placeholder {
          color: $gray;
        }
      }
      label {
        color: $Darkblue;
      }
    }
  }
}
//////////// Reference
.info {
  .uploadForm {
    margin-top: 25px;
    button{
      margin-top: 10px;
      width: 100%;
      height: 40px;
      margin-left: auto; 
      margin-right: auto; 
      display: block;
    }    
    .fields {
      margin-top: 25px;      
      label {
        color: $Darkblue;
      }
      input,textarea{
        width: 100%;
        font-size: 16px;
        padding: 15px;
        border-radius: 8px;
        border: hsl(229, 24%, 87%) 1px solid;
        margin-top: 10px;
        outline: none;
        color: $Darkblue;
        font-weight: 500;
        &:focus {
          border-color: $blue;
        }
        &::placeholder {
          color: $gray;
        }
      }
    }
  }
  h3{
    margin-top: 20px;
  }
  button{
    margin-top: 10px;
    width: 100%;
    height: 40px;
    margin-left: auto; 
    margin-right: auto; 
    display: block;
  }    
}

//////////// Outline
h2 {
  font-size: 32px;
  margin: 10px 0;
  color: $Darkblue;
}
.info{
  outlines-container{
    max-height: 500px; /* Adjust this value to suit your design */
    overflow-y: auto; /* Adds a vertical scrollbar when needed */
  }
  .outline-item{
    margin-top: 25px;
    position: relative; // To position the buttons absolutely within this container
    &:hover .add-btn,
    &:hover .delete-btn {
      display: block; // Only show buttons on hover
    }    
    input{
      width: 100%;
      font-size: 16px;
      padding: 15px;
      border-radius: 8px;
      border: hsl(229, 24%, 87%) 1px solid;
      margin-top: 10px;
      outline: none;
      color: $Darkblue;
      font-weight: 500;
      &:focus {
        border-color: $blue;
      }
      &::placeholder {
        color: $gray;
      }
    }
    .add-btn,
    .delete-btn {
      display: none; // Hide buttons by default
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      color: black;
      border: 1px solid black;
      cursor: pointer;
      border-radius: 100%;
      width: 25px;
      height: 25px;
      line-height: 25px;
      text-align: center;
      background-color: white;
      &:focus {
        outline: none;
      }
    }
    // 添加按钮样式
    .add-btn {
      right: 30px; 
      // padding: 0 10px; 
    }
    // 删除按钮样式
    .delete-btn {
      right: 0; 
      // padding: 0 10px; 
    }
  }
}

//////////// Article
.article-writer {
  .container {
    // Adjust the padding and margins as needed
    padding: 20px;
    margin: auto;
    width: 80%; // Adjust the width as necessary

    .editor-container {
      border: 1px solid #ccc; // Color for the border
      border-radius: 4px; // Rounded corners
      padding: 20px;
      background-color: #fff; // Assuming a white background

      h2 {
        margin-bottom: 20px; // Space between the title and the editor
      }

      .editor-wrapper {
        border: 1px solid #e2e2e2; // Color for the editor border
        min-height: 300px; // Minimum height for the editor
        .editor {
          // Styles for the Quill editor
          .ql-toolbar {
            border-bottom: 1px solid #e2e2e2; // Border color for the toolbar

            // Inserted CSS code here
            &:first-child {
              display: none !important;
            }
          }
          .ql-container {
            height: 250px; // Adjust the height as needed
            .ql-editor {
              padding: 20px;
            }
          }
        }
      }
    }
  }
}
