.brief {
    max-height: calc(100% - 70px);
    overflow: auto;
    .form {
      margin-top: 0px;
      .fields-row {
        display: flex; // 使用 flex 布局使子元素并排
      }
      .fields {
        margin-top: 20px;
        input, select, textarea{
          width: 100%;
          font-size: 16px;
          padding: 10px;
          border-radius: 8px;
          border: hsl(229, 24%, 87%) 1px solid;
          margin-top: 10px;
          outline: none;
          color: $Darkblue;
          font-weight: 500;
          &:focus {
            border-color: $blue;
          }
          &::placeholder {
            color: $gray;
          }
        }
        textarea {
          height: 200px;
        }
        label {
          color: $Darkblue;
          font-size: 18px;
        }
      }
      .half {
        flex: 0 0 50%; // 每个半宽字段占用 50% 的宽度
        &:first-child {
          padding-right: 5px; // 添加间距避免挤在一起
        }
        &:last-child {
          padding-left: 5px; // 添加间距避免挤在一起
        }
      }
    }
  }
  