main {
      background-color: #eff5f9;
      width: 100%;
      height: calc(100vh - 60px);
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center; 
      @include respond(phone) {
        height: calc(100vh - 50px);
      }
    }
.Container {
    // min-width: 900px;
    height: 82%;
    width: 50%;
    background-color: hsl(0, 0%, 100%);
    margin: auto;
    padding: 10px 15px 15px 15px;
    border-radius: 1rem;
    display: flex;
    box-shadow: 0 5px 10px #d6d9e6;
    box-sizing: border-box;
    
    @include respond(phone) {
      min-width: 0;
      width: 90%;
      padding: 10px 10px;
      flex-direction: column;
    }
  
    @include respond(tab-land) {
      width: 80%;
    }
  
    @include respond(big-desktop) {
      width: 70%;
    }
    }

    .content {
    width: 80%;
    margin: auto;
    height: 100%;
    position: relative;
    padding-top: 10px;
    }