.oneclickhead {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-between; /* 修改为space-between以保证元素之间、元素与容器边缘的均匀分布 */
  align-items: center;
  padding: 0 40%; /* 左右各添加10%的内边距，确保边缘元素与容器边缘的空隙 */
  @include respond(phone) {
    padding: 0 10%;
  }
  @include respond(tab-land) {
    padding: 0 20%;
  }
  @include respond(big-desktop) {
    padding: 0 40%;
  }
}

.oneclickheadtext {
  flex: 1; /* 占满可用空间 */
  text-align: center; /* 文字居中对齐 */
}

.oneclickRequirement {
    max-height: calc(100% - 70px);
    overflow: auto;
    .form {
      margin-top: 0px;
      .fields-row {
        display: flex;
      }
      .fields {
        margin-top: 20px;
        textarea{
          width: 100%;
          font-size: 16px;
          padding: 10px;
          border-radius: 8px;
          border: hsl(229, 24%, 87%) 1px solid;
          margin-top: 10px;
          outline: none;
          color: $Darkblue;
          font-weight: 500;
          height: 450px;
          &:focus {
            border-color: $blue;
          }
          &::placeholder {
            color: $gray;
          }
        }
        label {
          color: $Darkblue;
          font-size: 18px;
        }
      }
      .half {
        flex: 0 0 50%; // 每个半宽字段占用 50% 的宽度
        &:first-child {
          padding-right: 5px; // 添加间距避免挤在一起
        }
        &:last-child {
          padding-left: 5px; // 添加间距避免挤在一起
        }
      }
    }
  }
  