//////////// Outline
.outline {
    max-height: calc(100% - 80px); // Adjust this value to suit your design
    overflow-y: auto; // Adds a vertical scrollbar when needed    
    .outlines-container {
      margin-top: 20px;
      label {
        color: $Darkblue;
        font-size: 18px;
      }
      .outline-section {
        margin-top: 20px;
        .section-item {
            &:hover .section-btn {
            display: block; // Only show buttons on hover
            }  
            position: relative; 
            margin-top: 10px;         
            input {
                width: 100%;
                font-size: 16px;
                padding: 10px;
                border-radius: 8px;
                border: hsl(229, 24%, 87%) 1px solid;
                outline: none;
                color: $Darkblue;
                font-weight: 500;
                &:focus {
                    border-color: $blue;
                }
                &::placeholder {
                    color: $gray;
                }
            }            
        }
        .paragraph-container {
            position: relative;
            align-items: center;
            .paragraph-item {
                &:hover .paragraph-btn {
                    display: block; // Only show buttons on hover
                }     
                position: relative; 
                margin-top: 10px;       
                margin-left: 40px;
                input {
                    width: 100%;
                    font-size: 14px;
                    padding: 10px;
                    border-radius: 8px;
                    border: hsl(229, 24%, 87%) 1px solid;
                    outline: none;
                    color: $Darkblue;
                    font-weight: 500;
                    &:focus {
                        border-color: $blue;
                    }
                    &::placeholder {
                        color: $gray;
                    }
                }                           
            }
            
        }
      }
    } 
}

// Positioning add section and add paragraph buttons separately
.add-btn {
    right: 20%; // Adjust position to make space for both buttons
}
// Positioning delete section button
.delete-btn {
    right: 5%;
}
.add-btn,
.delete-btn {
    display: none; // Hide buttons by default
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: black;
    border: 1px solid black;
    cursor: pointer;
    border-radius: 100%;
    width: 25px;
    height: 25px;
    line-height: 25px;
    text-align: center;
    background-color: white;
    &:focus {
    outline: none;
    }
}